<h2>J채senet</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach(member => { %>
    <tr>
      <td>
        <a href="<%= `/members/${member._id}` %>">
          <%= member.fullName %>
        </a>
      </td>
      <td>
        <%= member.email %>
      </td>
      <td>
        <%= member.zipCode %>
      </td>
      <td>
        <a href="<%=`/members/${member._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%=`/members/${member._id}/delete?_method=DELETE` %>" onclick="return confirm('Haluatko varmasti poistaa?')">Poista</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <a href="members/new">Lis채채 uusi j채sen</a>
</table>
