<h1>Jäsenen tiedot
  <%= member.fullName %>
</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= member.fullName %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= member.email %>
    </td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td>
      <%= member.zipCode %>
    </td>
  </tr>
</table>
<div class="center">
  <a class="button" href="/members">View all members</a>
</div>
<div>
  <a class="button" href="<%= `/members/${member._id}/delete?_method=DELETE` %>" onclick="return confirm('Haluatko varmasti poistaa?')">Poista</a>
</div>
