<h1>Record Data for
    <%= record.fullName %>
  </h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <td>
        <%= record.fullName %>
      </td>
    </tr>
    <tr>
      <th>Species</th>
      <td>
        <%= record.species %>
      </td>
    </tr>
    <tr>
      <th>Weigth</th>
      <td>
        <%= record.weigth %>
      </td>
    </tr>
    <tr>
        <th>Length</th>
        <td>
          <%= record.length %>
        </td>
      </tr>
  </table>
  
  <% } %>
  
  
  <div class="center">
    <a class="button" href="/records">View all records</a>
  </div>